@use "../../sass/" as *;
.movie-showing-list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 30px;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 10px;
     }

    .movie-showing-item-content {
        width: 100%;
        height: 315px;

        &-img {
            width: 100%;
            height: 260px;
            margin-bottom: 10px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover > .btn-outline {
                display: block;
            }

            .btn-outline {
                width: 100%;
                height: 100%;
                background-color: $bg-modal;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                .btn{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }

        h3 {
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-transform: uppercase;
            font-weight: 400;
        }

        h3:last-child {
            color: #a0a37a;
        }
    }
}
