@use "../../sass/" as *;
.thanh-toan {
    background-color: $main-color;
    width: 935px;
    height: 630px;
    padding: 10px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 0px;
        h2 {
            color: white;
            font-weight: 400;
        }
    }

    &-content {
        margin-top: 10px;
        background-color: white;
        height: 550px;
        padding: 50px;

        .content-thanh-toan {
            h4 {
                font-weight: 400;
            }
            width: 560px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .content-input {
            h4 {
                font-weight: 400;
            }
            width: 560px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            input {
                width: 335px;
                padding: 10px;
                border: 1px solid #ced0da;

                &:focus-visible {
                    border: 1px solid black;
                    outline: none;
                }
            }
        }

        .content-input-btn {
            width: 560px;
           display: flex;
           flex-direction: column;

           button{
            width:335px;
           }
        }
    }
}
