
@use '../../sass/' as * ;

.ButtonOutline{
    width: 90px;
    height:36px;
    text-transform: uppercase;
    border: 1px solid white;
    font-weight:400;
    display: flex;
    font-size: 14px;
    justify-content:space-around
    align-items:center;
    flex-direction: column;
    .btn-age{
        background-color:$main-color;
        color: white;
        font-size: 14px;
        padding: 1px;
    }

    a{
        color:white;
    }

    &:hover{
        background-color:$main-color;
        border-color:$main-color
    }
}