.ButtonOutline{
    width: 90px;
    height:36px;
    text-transform: uppercase;
    border: 1px solid white;
    font-weight:400;
    display: flex;
    font-size: 14px;
    justify-content:center;
    align-items:center;

    &:hover{
        background-color:$main-color;
    }
}