@use "../../../sass/" as *;
.movie-showing-container {
    max-width: 1250px;
    margin: 0px auto;
    @media screen and (max-width: 767px) {
       width: 100%;
       padding:10px;
    }
    .movie-showing {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 30px;
        margin-top: 30px;

        @media screen and (max-width: 767px) {
            display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 10px;
        }

        .movie-showing-page-content {
            width: 100%;
            height: 490px;

            &-img {
                width: 100%;
                height: 435px;
                margin-bottom: 10px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover > .btn-outline {
                    display: block;
                }

                .btn-outline {
                    width: 100%;
                    height: 100%;
                    background-color: $bg-modal;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: none;
                    .btn {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            h3 {
                font-size: 16px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-transform: uppercase;
                font-weight: 400;
            }

            h3:last-child {
                color: #a0a37a;
            }
        }
    }

    .movie-showing-description{

        h3{
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 5px;
        }

        span{
            display: inline-block;
            width: 60px;
            height:3px;
            background-color: $main-color;
            margin-bottom: 30px;
        }

        p{
            font-size: 15px;
            letter-spacing: .5px;
        }
    }
}
