@use "../../sass" as *;

.buy-fast-ticket2 {
   margin-top: 30px;

   @media only screen and (min-width: 768px) and (max-width: 1024px) {
     .css-1u9des2-indicatorSeparator {
                width: 0;
            }

            .css-13cymwt-control{
                background-color: white !important;
                border:  1px solid lightgrey !important;
            }

            .css-t3ipsp-control{
                background-color: white !important;
              
            }

            .css-1jqq78o-placeholder{
                color: black !important;
            }

            .css-1dimb5e-singleValue{
                color: black !important;

            }
  }
}
