.css-13cymwt-control{
    background-color:#696D76 !important;
    border: none !important;
    color: white !important;
    
}

.css-t3ipsp-control{
    background-color:#696D76 !important;
    outline: none !important;
}

.css-1dimb5e-singleValue{
    color:white !important;
    font-size: 14px;
}

.css-1jqq78o-placeholder{
    color:white !important;
}

.css-15lsz6c-indicatorContainer{
    color:white !important;
}



