@use "../../sass/" as *;

.login {
    width: 520px;
    background-color: white;
    padding: 30px;
    position: relative;

    &-exits {
        width: 50px;
        position: absolute;
        top: 0;
        font-weight: lighter;
        font-size: 28px;
        color: lightgray;
    }

    &-tab {
        display: flex;
        align-items: start;
        cursor: pointer;
        .active {
            color: $main-color;
        }

        .active > span {
            transform: scale(1);
            background-color: $main-color;
        }

        &-signin {
            font-size: 28px;
            text-transform: uppercase;
            color: #43464b;
            transition: all 0.5s ease-in-out;

            span {
                display: block;
                margin-top: 10px;
                width: 100%;
                height: 2px;
                background-color: #43464b;
                transform: scale(0);
                transition: all 0.5s ease-in-out;
            }

            &:hover {
                color: $main-color;
            }

            &:hover span {
                transform: scale(1);
                background-color: $main-color;
            }
        }

        &-cheo {
            margin: 0 30px;
            font-size: 28px;
        }

        &-signup {
            font-size: 28px;
            text-transform: uppercase;
            color: #43464b;
            span {
                display: block;
                margin-top: 10px;
                width: 100%;
                height: 2px;
                background-color: #43464b;
                transform: scale(0);
                transition: all 0.5s ease-in-out;
            }

            &:hover {
                color: $main-color;
            }

            &:hover span {
                transform: scale(1);
                background-color: $main-color;
            }
        }
    }
}
