.login{
    width:520px;
    background-color:white;
    padding:30px;
   
    &-exits{
        display: flex;
        justify-content: flex-end;
        font-weight: lighter;
        font-size: 28px;
    }

    &-tab{
        display: flex;
        align-items: start;
        cursor: pointer;
        &-signin{
            font-size: 28px;
            text-transform: uppercase;
            color:#43464b;

            span{
                display: block;
                margin-top: 10px;
                width: 100%;
                height: 2px;
                background-color:#43464b;
            }
        }

        &-cheo{
            margin: 0 30px;
            font-size: 28px;
        }

        &-signup{
            font-size: 28px;
            text-transform: uppercase;
            color:#43464b;
            span{
                display: block;
                margin-top: 10px;
                width: 100%;
                height: 2px;
                background-color:#43464b;
            }
        }
    }
}