@use "../../sass/" as *;

.book-ticket {
    width: 100%;
    
    &-alert{
        position: fixed;
        background-color: white;
        top: -100%;
        left: 50%;
        transform: translateX(-50%) translateY(-10%);
        width: 520px;
        height: 212px;
        z-index: 100;
        padding: 30px;
        opacity: 0;
        transition: all 0.8s ease-in-out;

        @media screen and (max-width: 767px) {
            width: 100%;

        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
            color: #ced0da;
            cursor: pointer;
        }
        
        h1{
            font-weight: 400;
            color: $main-color;
            margin-bottom: 20px;

            @media screen and (max-width: 767px) {
              font-size: 20px;
            }
        }

        p{
            color:#A4A7AB;

            @media screen and (max-width: 767px) {
               font-size: 15px;
            }
        }

        .btn-ok{
            padding: 14px 40px;
            font-size: 16px;
            background-color:$main-color;
            outline: none;
            border: none;
            color:white;
            position: absolute;
            right: 10%;
            bottom:10%;

            @media screen and (max-width: 767px) {
                padding: 10px 30px;
            }
        }
    }

    &-alert-2{
        position: fixed;
        background-color: white;
        top: -100%;
        left: 50%;
        transform: translateX(-50%) translateY(-10%);
        width: 520px;
        height: 212px;
        z-index: 100;
        padding: 30px;
        opacity: 0;
        transition: all 0.8s ease-in-out;

        @media screen and (max-width: 767px) {
            width: 100%;

        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
            color: #ced0da;
            cursor: pointer;
        }
        
        h1{
            font-weight: 400;
            color: $main-color;
            margin-bottom: 20px;
        }

        p{
            color:#A4A7AB;
        }

        .btn-ok{
            padding: 14px 40px;
            font-size: 16px;
            background-color:$main-color;
            outline: none;
            border: none;
            color:white;
            position: absolute;
            right: 10%;
            bottom:10%;
        }
    }
    

    &-right {
        width: 930px;
        height: 810px;
        background-color: $main-color;
        padding: 10px;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            height: auto;
          }
        h2 {
            color: white;
            font-weight: 400;
            margin-bottom: 20px;
        }

        &-top {
            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #47251c;
                padding: 10px;



                h4 {
                    color: white;
                    font-weight: 400;
                    font-size: 14px;
                }

                h4:first-child {
                    width: 400px;
                    @media screen and (max-width: 767px) {
                        width: 250px;
                       }
                }

                h4:nth-child(2) {
                    width: 228px;
                    text-align: center;
                }

                h4:nth-child(3) {
                    width: 137px;
                    text-align: right;
                }

                h4:last-child {
                    width: 137px;
                    text-align: right;
                }
            }

            &-content {
                padding: 10px;
                background-color: white;

                &-2d {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .loai-ve {
                        width: 400px;
                        @media screen and (max-width: 767px) {
                           width: 250px;
                          }
                        h5{
                            font-size: 14px;
                            line-height:20px;
                        }
                        h5:last-child {
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        @media screen and (max-width: 767px) {
            
                            width: 180px;
                          }

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                            
                        }

                        .disabled {
                            background-color: #838588 !important;
                            cursor: not-allowed;
                        }

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                            text-align: center;

                            @media screen and (max-width: 767px) {
                                width: 40px;
                              }
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                &-2dtv {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    

                    .loai-ve {
                        width: 400px;
                        @media screen and (max-width: 767px) {
                            width: 250px;
                           }
                        h5{
                            font-size: 14px;
                            line-height:20px;
                        }
                        h5:last-child {
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        @media screen and (max-width: 767px) {
                            width:180px;
                           }

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .disabled {
                            background-color: #838588 !important;
                            cursor: not-allowed;
                        }

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                            text-align: center;
                            @media screen and (max-width: 767px) {
                                width: 40px;
                               }
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                &-gd {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .loai-ve {
                        width: 400px;
                        @media screen and (max-width: 767px) {
                            width: 250px;
                           }
                        h5{
                            font-size: 14px;
                            line-height:20px;
                        }
                        h5:last-child {
                            
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        @media screen and (max-width: 767px) {
                            width: 180px;
                           }

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .disabled {
                            background-color: #838588 !important;
                            cursor: not-allowed;
                        }
                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                            text-align: center;
                            @media screen and (max-width: 767px) {
                                width: 40px;
                               }
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                &-gdtv {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .loai-ve {
                        width: 400px;
                        @media screen and (max-width: 767px) {
                            width: 250px;
                           }
                        h5{
                            font-size: 14px;
                            line-height:20px;
                        }
                        h5:last-child {
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        @media screen and (max-width: 767px) {
                            width: 180px;
                           }

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .disabled {
                            background-color: #838588 !important;
                            cursor: not-allowed;
                        }

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                            text-align: center;
                            @media screen and (max-width: 767px) {
                                width: 40px;
                               }
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                        
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                .tong-gia-ve {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        color: $main-color;
                    }
                }
            }
        }

        &-bottom {
            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #47251c;
                padding: 10px;



                h4 {
                    color: white;
                    font-weight: 400;
                    font-size: 14px;
                }

                h4:first-child {
                    width: 400px;

                    @media screen and (max-width: 767px) {
                        width: 300px;
                       }
                }

                h4:nth-child(2) {
                    width: 228px;
                    text-align: center;
                }

                h4:nth-child(3) {
                    width: 137px;
                    text-align: right;
                }

                h4:last-child {
                    width: 137px;
                    text-align: right;
                }
            }

            &-content {
                padding: 10px;
                background-color: white;

                &-combo1ex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    

                    .combo {
                        display: flex;
                        align-items: center;
                        width: 400px;
                        @media screen and (max-width: 767px) {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            width: 300px;
                           }
                        &-img {
                            width: 100px;
                            height: 67px;
                            margin-right: 10px;

                            @media screen and (max-width: 767px) {
                               width: 80px;
                               
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        &-des {
                            h5 {
                                font-size: 14px;
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;
                        @media screen and (max-width: 767px) {
                           width: 200px;
                           }
                      

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .disabled {
                            background-color: #838588;
                        }

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                            text-align: center;

                            @media screen and (max-width: 767px) {
                               width: 40px;
                               }
                        }

                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                &-2dtv {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .loai-ve {
                        width: 250px;
                        h5:last-child {
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                       

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                &-gd {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .loai-ve {
                        width: 250px;
                        h5:last-child {
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .disabled {
                            background-color: #838588;
                        }

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                &-gdtv {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    .loai-ve {
                        width: 250px;
                        h5:last-child {
                            font-weight: 400;
                        }
                    }

                    .so-luong {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 228px;

                        

                        .btn-minus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .disabled {
                            background-color: #838588;
                        }

                        .btn-plus {
                            width: 20px;
                            height: 20px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10px;
                            background-color: #43464b;
                        }

                        .quantity {
                            width: 60px;
                            height: 35px;
                            margin: 0 10px;
                            text-align: center;
                        }
                    }

                    .gia {
                        width: 137px;
                        text-align: right;
                    }

                    .tong {
                        width: 137px;
                        text-align: right;
                    }
                }

                .tong-gia-ve {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        color: $main-color;
                    }
                }
            }
        }
    }

    &-left {
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
    }
}
