.search{
    position: relative;
     &__input{
        padding: 6px;
        width: 250px;
        border: 1px solid #ced0da;
        outline: none;
        color: #43464b;
        background-color: white;   
        &:focus{
            border: 1px solid #BDC0C2;
        } 
     }
}