@use "../../sass/" as *;

.buy-fast-ticket {
    width: 358px;
    height: 375px;
    background-color: $bg-modal;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        background-color: white;
     }
   

    h1 {
        width: 200px;
        padding: 12px 26px;
        background-color: $main-color;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: 200;
        

    }

    .buy-content-list {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        

        .buy-content-item {
            h4 {
                font-size: 14px;
                letter-spacing: 1px;
                padding: 15px 20px;
                width: 100%;
                text-align: center;
                color: white;
                border-bottom: 2px solid white;
                font-weight: 400;
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    color: black;
                    border: 1px solid black;
                    width: 260px;
                  }

                &:hover {
                    color: #f26b38;
                    border-bottom: 2px solid #f26b38;
                    font-weight: 600;
                }
            }
            .active {
                color: #f26b38;
                border-bottom: 2px solid #f26b38;
                font-weight: 600;

                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    border-bottom: none;
                    
                  }
            }
        }

        
    }

    .buy-content-data{
        padding:15px;
    }

    .btn-buy{
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: start;

        a{
            background-color:$main-color;
            color: white;
            text-transform: uppercase;
            padding: 10px 15px;
           
        }
    }
}

.movie-select{
    margin-bottom: 15px;
}

.movie-select:last-child{
    margin-bottom: 5px;
}