.css-13cymwt-control{
    background-color:#696D76 !important;
    border: none !important;
    
}

.css-t3ipsp-control{
    background-color:#696D76 !important;
    &:hover{
        border-color: #696D76 !important;
    }
}

.css-1dimb5e-singleValue{
    color:white !important;
    font-size: 14px;
}