.page-mua-ve{
    width: 1250px;
    margin: 10px auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    &-left{
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
        }

        @media screen and (max-width: 767px) {
            
           width: 100%;
         }
    }
  
    &-right{
        right: 0;
        position: absolute;
        transition: all 0.5s ease-in-out;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
           position: relative;
        }

        @media screen and (max-width: 767px) {
            position: relative;
            width: 100%;
          }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        padding: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}